html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex: 1 0 auto;
  margin-right: auto;
  margin-left: auto;
  width: var(--wrap-width);
}

.footer {
  flex-shrink: 0;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: var(--wrap-width);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222225;
    --page-width: 60em;
    --font-color: #e8e9ed;
    --invert-font-color: #222225;
    --secondary-color: #a3abba;
    --tertiary-color: #a3abba;
    --primary-color: #62c4ff;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
  }
}

:root.dark {
  --background-color: #222225;
  --page-width: 60em;
  --font-color: #e8e9ed;
  --invert-font-color: #222225;
  --secondary-color: #a3abba;
  --tertiary-color: #a3abba;
  --primary-color: #62c4ff;
  --error-color: #ff3c74;
  --progress-bar-background: #3f3f44;
  --progress-bar-fill: #62c4ff;
  --code-bg-color: #3f3f44;
}
